<% unless game.nil? %>
  <li>
    <span class="game-teams"><p><%= game['away_team'] %></p><p><%= game['home_team'] %></p></span>
    <span class="game-score"><p><%= game['away_score'] %></p><p><%= game['home_score'] %></p></span>
    <div style="clear: both;"></div>
  </li>
  <%
end
%>