.info-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;

}
.info-table th {
    padding-top: 4px;
    padding-bottom: 4px;

    background: #a20303; /* Old browsers */
    background: -moz-linear-gradient(top, #a20303 0%, #cd0707 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a20303), color-stop(100%,#cd0707)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a20303 0%,#cd0707 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a20303 0%,#cd0707 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #a20303 0%,#cd0707 100%); /* IE10+ */
    background: linear-gradient(top, #a20303 0%,#cd0707 100%); /* W3C */

    border: 1px solid #FCE6E5;
    color: #FFFFFF;
    text-shadow: 0 0 0 #000000;
}

.info-table td {
    text-align: center;
}

.info-table td:first-child {
    text-align: left;
    padding-left: 20px;
    width: auto;
}

.info-table tr td {

    min-width: 20px;

    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%,#eeeeee 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(top, #fdfdfd 0%,#eeeeee 100%); /* W3C */

    border: 1px solid #CCCCCC;
    color: #444444;
    text-shadow: 0 1px 1px #F6F6F6;
}
.info-table tr.even td {
    background: #fdfdfd; /* Old browsers */
    background: -moz-linear-gradient(top, #fdfdfd 0%, #fda69d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#fda69d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%,#fda69d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%,#fda69d 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%,#fda69d 100%); /* IE10+ */
    background: linear-gradient(top, #fdfdfd 0%,#fda69d 100%); /* W3C */
}

.info-table tr.odd {
    background-color: #FCE6E5;
}


.stats-list li.ui-body-c  {
    padding:  2px 15px;
    height: 40px;
}

.stats-list .ui-li-count {
    position: relative;
    margin:  0;
    top: 10px;
    float: left;
}

#home-page .stats-list,
#home-page .schedule-list {
    margin-top: 2px !important;
}

.schedule-list li {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.stats-list li p,
.schedule-list li p {
    margin-bottom: 0;
}

.schedule-list li h2 {
    margin:  0;
}

.stats-list li h2 {
    margin-bottom: 6px;
    margin-top: 6px;
}
.stats-list li span a {
    margin-bottom: 0;
    margin-top: 5px;
}

.stats-list li h3,
.schedule-list li h3 {
    margin:  0 0 6px 0;
    overflow: hidden;
}

.stats-list li,
.ui-content ul.schedule-list li.ui-li-divider {
    padding-top: 0;
    padding-bottom: 0;
}

.stats-list li p.stats-details,
ul.schedule-list li p.time-details {
    float: right;
    margin: 0.3em 0;
    text-align: right;
}

.stats-list-header h2 {
    float: left;
    line-height: 28px;
}
.stats-list-header span {
    float: right;
    line-height: 12px;
    display: block;
}

.stats-show-more {
    position: relative;

}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding-right: 20px;
}

.paginate-hide {
    display: none !important;
}

#page header span {
    float: right;
}

.clear {
    clear: both;
}

.footer.ui-footer .ui-title {
    margin: 0;
    line-height: 25px;

}
.footer.ui-footer .ui-title span {
    position: relative;
    top: -10px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer img {
    height: 40px;
    position: relative;
    top: 4px;
}

#calendar-wrapper {
    display: none;
    padding:  20px;
    margin:  0 auto;
}
#calendar-wrapper .ui-datepicker {
    margin:  0 auto;
}

#calendar-wrapper .ui-state-disabled.ui-datepicker-current-day {
    opacity: 1;
}

#calendar-wrapper .ui-state-active a {
   border: 1px solid #000000;
}

#calendar-wrapper .ui-datepicker {
    width: auto;
}

.ui-header .ui-title {
    margin-left: 0;
    margin-right: 0;
}


#page .results-list li.ui-li-divider {
    padding:  5px;
}

#page .results-list li.ui-li-divider span {
    font-size: .8em;
}
#page .results-list li {
    padding-bottom: 0;
    margin: 0;
}

#page .results-list li span {
    margin-bottom: 0;
    padding-bottom: 3px;
    font-size: 1.2em;
}
#page .results-list li span p:last-child {
    margin-bottom: 0;
}

#page .results-list li span.game-teams,
#page .results-list li span.game-score {
    float: left;
}
#page .results-list li span.game-score {
    float: right;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.2em;
}
#page .results-list li span.game-score p {
     font-weight: bold;

}
#page ul.results-list-floating {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}


@media only screen and (max-width : 320px) {
    .ui-content .schedule-list li h3 {
        font-size: .7em;
    }
    .ui-content .schedule-list li {
        padding-right: 3px;
        padding-left: 3px;
    }

}
@media only screen and (max-width : 360px) {
    .ui-content .schedule-list li h3 {
        font-size: .82em;
    }
    .ui-content .schedule-list li {
        padding-right: 10px;
        padding-left: 10px;
    }

    .time-details {
        position: relative;
        top: -3px;
    }
}
@media only screen and (max-width : 400px) {
    .info-table th {
        font-size: 0.6em;
    }
    .info-table td {
        font-size: .7em;
    }

    .only-landscrape {
        display: none;
    }


}
