.info-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;

}
.info-table th {
    background-color: #9D403D;
    color: #FCE6E5;
    line-height: 25px;
    font-size: 0.8em;
}

.info-table td {
    text-align: center;
}

.info-table td:first-child {
    text-align: left;
    padding-left: 20px;
    width: auto;
}

.info-table tr td {
    border-bottom: 1px solid #FCE6E5;
    box-shadow: inset 0 1px 3px #fff, inset 0 -1px #FD7B6D, 0 0 6px #FD7B6D;
    -o-box-shadow: inset 0 1px 3px #fff, inset 0 -1px #FD7B6D, 0 0 6px #FD7B6D;
    -webkit-box-shadow: inset 0 1px 3px #fff, inset 0 -1px #FD7B6D, 0 0 6px #FD7B6D;
    -moz-box-shadow: inset 0 1px 3px #fff, inset 0 -1px #FD7B6D, 0 0 6px #FD7B6D;
    width: 30px;

}
.info-table tr.even {
    background-color: #FDA69D;
}

.info-table tr.odd {
    background-color: #FCE6E5;
}