<div id="home-page">

    <% unless @games[0].blank? %>

        <h4 style="margin: 0;">Next Game</h4>
        <ul data-role="listview" data-inset="true" class="schedule-list" data-divider-theme="g">

            <%= render :partial => "partials/game_info", :locals => { :i => 0, :game => @games[0] } %>

        </ul>

    <% end %>

    <% unless @results.nil? or @results.blank? %>
        <h4 style="margin: 0;">Around the League</h4>


          <%
            limit = 2
            i = 0
            @dates.each do |date|

                if i < limit %>
                    <ul data-role="listview" data-inset="true" class="results-list results-list-floating <%= 'only-landscrape' if i > 0 %>"  data-divider-theme="g">
                    <li data-role="list-divider" role="heading"><span><%= Time.parse(date).strftime("%A %B %d, %G") %></span></li>

                    <% @results[date].each do |game| %>

                        <%= render :partial => "partials/game_results", :locals => { :game => game } %>

                    <% end
                else
                    break
                end
                i += 1
                %>

                </ul>

          <% end %>

        <div style="clear: both;"></div>

    <% end %>

</div>