<% unless @games.blank? %>

    <ul data-role="listview" data-inset="true" class="schedule-list">

      <%
         i = 0
         @games.each do |game| %>

            <%= render :partial => "partials/game_info", :locals => { :i => i, :game => game } %>

            <%
            i = i + 1
         end %>
    </ul>

    <% if @games.length > 5 %>
        <button class="show-more" data-theme="c">Show More</button>
    <% end %>

<% end %>

<script>

    var totalShown = 5;
    $('.show-more').click(function(){
        var self = this;
        var numHiddenFound = 0;
        $('ul.schedule-list li.paginate-hide').each(function(index) {

            if (numHiddenFound < 5) {
                $(this).removeClass('paginate-hide');
                numHiddenFound++;
                totalShown++;

                if (totalShown == $('ul.schedule-list').children().length) {
                    $(self).parent().hide();
                }
            }
        });
    });

</script>